.about-container{
    background: blue;
    height: 100%;
    padding: 0 1rem;
    z-index: 9;
    margin-top: -20px;
    color: #fff;
    .about-head{
        justify-content: center;
    }
    .about-content{
        min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 20px;
        .about-item{
            display: flex;
            background-color: red; 
            flex-basis: calc(50% - 50px);  
            justify-content: center;
            flex-direction: column;
            margin: 20px;
            h3,p{
                margin: 20px;
                display: flex;
                justify-content: center;
            }
        }
    }
}