/* font-style */
@font-face {
    font-family: 'Speedy Retro';
    src: url('../fonts/Speedy\ Retro.otf');
}

@font-face {
    font-family: '8-bit-heading';
    src: url('../fonts/8-bit-heading.ttf');
}

/* variables */
:root{
    --first-shade: #0E0B16;
    --first-shade-light:#181327bb ;
    --second-shade: #A239CA;
    --third-shade: #4717F6;
    --text-color: blanchedalmond;
    --box-shade: #E7DFDD;
    --icon-shade: black;
    --heading-font-size: 2.5rem;
    --content-font-size: 1.2rem;
}

.explore-container{
    background: var(--first-shade);
}

.explore-head{
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    font-family: '8-bit-heading';
}

.explore-content{
    background-image: linear-gradient(to top left, var(--third-shade), var(--first-shade-light), var(--second-shade));
    border-radius: 20px;
    /* width: 100%; */
    /* height: 100%; */
}
.container{
    padding:30px;
}

.explore-item{
    /* background-image: linear-gradient(to bottom right, var(--first-shade), var(--second-shade) , var(--third-shade)); */
    /* margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px; */
    text-align: justify;
    /* border-style: solid; */
}

.explore-item-text{
    text-align: justify;
    padding:  50px 20px;
}

.explore-item img{
    margin: 40px 15px 15px 15px ;
    padding-right: 10px;
    background-color: transparent;
    
}

.explore-item p{
    color: var(--text-color);
    font-size: var(--content-font-size);
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}