/* import fonts */
@font-face {
    font-family: 'Speedy Retro';
    src: url('../fonts//Speedy\ Retro.otf');
}
:root{
    --font-style: 'Speedy Retro';
    --helix-font-size: 2.5rem;
    --nav-font-size: 1.5rem;
    --text-color: white;
}

.nav-container{
    opacity: 70%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    position: relative;
    margin-top: 10px;
}

.nav-btn{
    font-family: var(--font-style);
    cursor: pointer;
    font-size: var(--helix-font-size);
    font-weight: bold;
}

.nav-menu{
    font-family: var(--font-style);
    font-size: var(--nav-font-size);
    cursor: pointer;
    font-weight: bold;
}
