.game-body{
    color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.heading-item{
    margin-right: 10px;
}
canvas{
    padding-right: 10px;
   box-shadow: whitesmoke 5px 10px 15px;

}
.controls{
    float : left;
    margin-top: 100px;
    margin-left :50px;
    height: 100px;
    width: 100px;
}
.score{
    float:right;
    margin: 10px 50px 10px 10px;
    color:whitesmoke;
}
.score-not-btn{
    margin-top:20px ;
    width: fit-content;
    border-radius: 0px 15px 0px 15px;
    box-shadow: 5px 5px 5px rgba(146,61,184,0.5);
    background-image: linear-gradient(to top left,rgba(36,17,86,0.5), rgba(62,21,209,0.5));
    color: white;
    font-size:20px;
}
.start-btn{
    text-align: center;
    width: 60px;
	display: inline-block;
	//margin:5px;
    font-weight: bold;
    font-size:20px;
    padding: 10px 8px 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;

}
.start-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}